.logo {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 10rem;
    height: 100vh;
    position: fixed;
    background-color: #40B1E5;
}

.navbarNav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbarItem {
    width: 100%;
}

.navbarItem:last-child {
    margin-top: auto;
    margin-bottom: 5rem;
}

.navbarLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.navbar a:hover {
    background-color: #F15F82; /* Pink */
}


